PORT=3000
ALLOWED_ORIGINS=http://localhost:3000,http://10.0.2.2:3000

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/barangaycare

# Firebase
FIREBASE_PROJECT_ID=your-firebase-project-id

# Google Gemini
GEMINI_API_KEY=your-gemini-api-key


